<%= simple_form_for(@credit_card) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :issuer, required: true %>
  <%= f.input :kind, required: true %>
  <%= f.input :expiration, required: true, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 30, discard_day: true,
                              order: [:month, :year] %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Crear" %>
</div>
<% end %>
