<h1>Dashboard</h1>
<%= link_to icon('fas','shopping-cart','Compras hechas'), purchases_path, class: "btn btn-primary" %>
<div class="row">
  <div class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
    <h3>Cuotas por pagar</h3>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Compra</th>
          <th>Tarjeta</th>
          <th>Cuota</th>
          <th>Mes</th>
          <th>Monto</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
        <tr class="<%= set_payment_row_class(payment) %>">
          <td class="center-text-v"><%= payment.purchase.item_name %></td>
          <td class="center-text-v"><%= payment.purchase.credit_card_name %></td>
          <td class="center-text-v"><%= "#{payment.fee}/#{payment.purchase.fees}" %></td>
          <td class="center-text-v"><%= l(payment.month_to_pay, format: :month_year_abbr) %></td>
          <td class="center-text-v"><%= to_current payment.amount %></td>
          <td class="center-text-v"><%= payment.status %></td>
          <td class="center-text-v">
            <% if payment.status == "Para pagar" %>
            <%= link_to icon('fas','dollar-sign'), pay_payment_path(payment), method: :post, class: "btn btn-primary btn-sm" %>
            <% elsif payment.status == "Pagado" %>
            <%= link_to icon('fas','dollar-sign'), unpay_payment_path(payment), method: :post, class: "btn btn-danger btn-sm" %>
            <% end %>
            <%= link_to "Edit", edit_payment_path(payment), class: "btn btn-warning btn-sm" %>
          </td>
        </tr>
        <% end %>
        <% @purchases.each do |simulated| %>
          <% for fee in 1..simulated.fees do %>
          <tr class="table-dark">
            <td class="center-text-v"><%= simulated.item_name %></td>
            <td class="center-text-v"><%= simulated.credit_card_name %></td>
            <td class="center-text-v"><%= "#{fee}/#{simulated.fees}" %></td>
            <td class="center-text-v"><%= simulated.first_payment.advance(months: (fee - 1)).strftime("%b%y") %></td>
            <td class="center-text-v"><%= to_current (simulated.amount / simulated.fees).round(2) %></td>
            <td class="center-text-v"><%= "Simulado" %></td>
            <td class="center-text-v"></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to icon('fas','shopping-cart','Compras hechas'), purchases_path, class: "btn btn-primary" %>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">
      <%= icon('far','credit-card', 'Ver tarjetas') %>
    </button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content container-fluid">
          <%= render "credit_cards" %>
        </div>
      </div>
    </div> <!-- END modal-body -->
    <br>
    <div id="amounts-per-month">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <% @months_resume.each do |month| %>
          <tr>
            <td><%= l(month[0], format: :month_year_abbr) %></td>
            <td><%= to_current month[1] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
